.button {
  margin: 20px;

  background-color: #4caf50;

  color: white;

  padding: 10px 20px;
  border: none;

  border-radius: 5px;

  cursor: pointer;
  transition: background-color 0.3s;

  border: 2px solid black;
}

.styled-button:hover {
    background-color: #45a049;
}

#userInputForm {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
}

#labelClass{

border: 2px solid yellow;

};
  
